---
import { getCollection, render } from "astro:content"
import ContentPage from "../../../layouts/ContentPage.astro"
export const prerender = true
export async function getStaticPaths() {
	const posts = await getCollection("help")
	const processed = posts
		.filter((post) => {
			return post.id.split("/").length == 1
		})
		.map((post) => {
			return {
				params: {
					language: post.id,
				},
				props: { post },
			}
		})
	return processed
}
const { post } = Astro.props
const { language } = Astro.params
const { Content } = await render(post)
---

<ContentPage title={post.data.title} includeH1={false} description={post.data.summary} noIndex={post.data.noIndex}>
	<Content />
	<ul>
		{
			await getCollection("help").then((posts) => {
				return posts.filter(post => post.id.split("/").length == 2 && !post.data.noIndex).map((post) => {
					if (post.id.includes(`${language}/`)) {
						return (
							<li>
								<a href={`./${language}/${post.id.split("/")[1]}`}>
									{post.data.title}
								</a>
							</li>
						)
					}
				})
			})
		}
	</ul>
	<p><a href="/help">Select a language</a></p>
</ContentPage>
