---
import { database } from "../../shared/db.mjs";
import ContentPage from "../../layouts/ContentPage.astro";
import { Image } from "astro:assets";
import Turn from "../../components/Turn.astro";
const username = Astro.params.username;
const userRecord = await database.getUserRecordDocument(username);
let title = username;
let userGrid = [];
if (!userRecord) {
	title = "Player not found";
	Astro.response.status = 404;
} else {
	if (userRecord.displayName) {
		title = userRecord.displayName;
	}
	userGrid = await database.getUserGrid(username);
	userGrid = userGrid.flat(1)
}
const placeholderGraphic = "https://placecats.com/300/300";
---

<ContentPage title={title}>
	{
		userRecord ? (
			<Image src={`https://www.classicube.net/face/${username}/`} alt={`Head shot of ${username}`} width="128" height="128" />
			<p>First joined: {userRecord.firstJoin}.</p>
		) : (
			<p>Player not found.</p>
		)
	}
	{
		userGrid.length > 0 ? (
			<h2>Builds</h2>
			<ul>
				{
					userGrid.map((turn: any, index: number) => {
						if (turn.promptType === "description") {
							return null;
						}
						return (
							<li>
								<Turn description={userGrid[index - 1]} build={turn} rootId={turn.root} />
							</li>
						);
					})
				}
			</ul>
		) : (
			<p></p>
		)
	}
</ContentPage>
