---
import { Image } from "astro:assets"
import Timestamp from "./Timestamp.astro"
const game = Astro.props.game
const firstTurn = game[0]
const lastTurn = game.reverse().find((turn: { promptType: string }) => turn.promptType == "build")
const imageAlt = game[game.findIndex((turn: { promptType: string }) => turn.promptType == "build") + 1].prompt
const finished = game.length == 16
---

{
	finished ? (
		<div class="card" transition:name={`${lastTurn._id}`}>
			<div class="card-image">
				<div class="card-image-container">
					<img src={`/image/${lastTurn._id}`} alt={imageAlt} height="165" />
				</div>
			</div>
			<div class="card-container">
				<h3>
					<a href={`/game/${firstTurn.root}`}>{firstTurn.prompt}</a>
				</h3>
				<p>
					Played from <Timestamp date={firstTurn.next.getTimestamp()} /> to <Timestamp date={lastTurn.next.getTimestamp()} />.
				</p>
			</div>
		</div>
	) : (
		<div class="card" aria-disabled="true" transition:name={`${firstTurn._id}`}>
			<div class="card-container">
				<h3>Unfinished game</h3>
				<p>
					Started on <Timestamp date={firstTurn.next.getTimestamp()} />.
				</p>
				<p>{game.length}/16 turns complete.</p>
			</div>
		</div>
	)
}
