---
import { Image } from "astro:assets";
const description = Astro.props.description;
const build = Astro.props.build;
const placeholderGraphic = "https://placecats.com/300/300";
let rootId = null;
if (Astro.props.rootId) {
	rootId = Astro.props.rootId;
}
const anchor = Astro.props.anchor ?? ""
const id = Astro.props.id
---

<div id={id}>
	{
		rootId ? (
			<p>
				<a href={`/game/${rootId}${anchor}`}>{description.prompt}</a>
			</p>
		) : (
			<p>{description.prompt}</p>
		)
	}
	<Image
		src={build.image ?? placeholderGraphic}
		alt={description.prompt}
		width="200"
		height="64"
	/>
	<p>
		Prompt by <a href={`/player/${description.creators[0]}`}
			>{description.creators[0]}</a
		>.
	</p>
	<p>
		Build by <a href={`/player/${build.creators[0]}`}>{build.creators[0]}</a>.
	</p>
</div>
