---
import { Image } from "astro:assets";
import Timestamp from "./Timestamp.astro";
import LicenseIcons from "./LicenseIcons.astro";
const description = Astro.props.description;
const build = Astro.props.build;
let rootId = null;
if (Astro.props.rootId) {
	rootId = Astro.props.rootId;
}
const anchor = Astro.props.anchor ?? "";
const id = Astro.props.id;
const asModel = Astro.props.asModel ?? false;
const licenses = build.licenses ?? [];
let addLink = false;
let url;
if (rootId) {
	url = `/game/${rootId}${anchor}`;
	if (build.gameStatus) addLink = true;
}
let Header = "h3";
if (asModel) {
	Header = "h2";
	url = `/model/${build._id}`;
	addLink = true;
}
const addModelLink = !asModel && licenses.length > 0;
---

<div id={id} class="card" transition:name={`${build._id}`}>
	<div class="card-image">
		<div class="card-image-container">
			<img
				src={`/image/${build._id}`}
				alt={description.prompt}
				height="165"
			/>
		</div>
	</div>
	<div class="card-container">
		{
			addLink ? (
				<Header>
					<a href={url}>{description.prompt}</a>
				</Header>
			) : (
				<Header>{description.prompt}</Header>
			)
		}
		{
			!asModel && (
				<p>
					Prompt by{" "}
					<a href={`/player/${description.creators[0]}`}>
						{description.creators[0]}
					</a>
					<Timestamp date={description.next.getTimestamp()} />.
				</p>
			)
		}
		<p>
			Build by <a href={`/player/${build.creators[0]}`}
				>{build.creators[0]}</a
			>
			<Timestamp date={build.next.getTimestamp()} />.
		</p>
		{
			addModelLink && (
				<p>
					<a href={`/model/${build._id}`}>Model available</a>
				</p>
			)
		}
		<div class="licenses">
			<LicenseIcons licenses={licenses} />
		</div>
	</div>
</div>
<style>
	.licenses {
		display: flex;
		gap: 8px;
		flex-wrap: wrap;
		justify-content: center;
	}
</style>
