---
import ContentPage from "../../layouts/ContentPage.astro"
import Turn from "../../components/Turn.astro"
import { database } from "../../shared/db.mjs"
// @ts-ignore
import { ObjectId } from "mongodb"
let cursor, nextCursor, prevCursor
if (Astro.params.cursor) cursor = ObjectId.createFromHexString(Astro.params.cursor)
let licensedGrid = []
licensedGrid = await database.getLicensedGrid(cursor)
licensedGrid = licensedGrid.flat(1)
if (licensedGrid.length == 65 * 2) {
	nextCursor = licensedGrid[licensedGrid.length - 3]._id
	licensedGrid.pop()
	licensedGrid.pop()
}
// Check if there's a previous page
if (cursor && licensedGrid.length > 0) {
	// Find the first build turn in the grid
	const firstBuildTurn = licensedGrid.find(turn => turn && turn.promptType === "build");
	if (firstBuildTurn) {
		const firstItemId = firstBuildTurn._id;
		// Query for items with _id > firstItemId to find the previous page cursor
		const findDocument = { promptType: "build", licenses: { $exists: true }, _id: { $gt: firstItemId } };
		// Fetch items going backwards to find the right cursor - we need one full page (65 items)
		const prevPageItems = await database.gameCollection.find(findDocument).sort({ _id: 1 }).limit(65).toArray();
		if (prevPageItems.length > 0) {
			prevCursor = prevPageItems[prevPageItems.length - 1]._id;
		}
	}
}
---

<ContentPage title="Models" description="Free downloadable 3D voxel models in MagicaVoxel format.">
	<p>Free downloadable 3D voxel models in MagicaVoxel format.</p>
	<div class="flex-container">
		{
			licensedGrid.map((turn: any, index: number) => {
				if (turn.promptType === "description") {
					return null
				}
				return <Turn description={licensedGrid[index - 1]} build={turn} rootId={turn.root} anchor={`#${turn.depth}`} asModel={true} />
			})
		}
	</div>
	<div class="flex-container">
		{
			prevCursor && (
				<a href={`/models/${prevCursor}`} class="pagination-button">
					Previous Page
				</a>
			)
		}
		{
			nextCursor && (
				<a href={`/models/${nextCursor}`} class="pagination-button">
					Next Page
				</a>
			)
		}
	</div>
</ContentPage>
